@import url('https://fonts.googleapis.com/css2?family=Honk:SHLN@0..100&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron&display=swap');

/* TODO: GENERAL STYLES */
.text_inter{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text_openSans{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

.line_divis{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 1.8% 0;
}
.line_div{
    background-color: #fff;
    position: absolute;
    width: 80%;
    height: 0.3vh;
}

/* TODO: STYLES HOMEP */
.container_home{
    display: flex;
    flex-direction: column;
}


/* TODO: STYLES NAVBAR */
.container_nav{
    position: fixed;
    width: 100%;
    height: 13%;
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 7px;
    z-index: 1000;
    font-weight: 100;
}

.navigation{
    width: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 10%;
}
.navigation h1{
    width: fit-content;
    cursor: pointer;
    transition: 0.5s;
}
.navigation h1:hover{
    text-shadow: 0px 0px 9px #fff;
}

.name{
    position: relative;
    left: 3%;
}

.icon_option{
    position: relative;
    right: 4%;
    cursor: pointer;
}


/* TODO: STYLES LANGUAGE COMPONENT */
.container_language{
    width: 15%;
    height: min-content;
    background-color: #000;
    position: fixed;
    right: 0;
    top: 0;
    float: right;
    font-size: 8px;
}

.button_close_modal{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #720505;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 18px;
}

.modal_header{
    padding: 10% 10% 15% 18%;
    font-size: 11px
}

.option_lang{
    padding: 10% 10% 10% 18%;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    display: flex;
}
.option_lang:hover{
    background-color: #2D2D2D;
    cursor: pointer;
    width: 100%;
}



/* TODO: STYLES HOME COMPONENT */
.img_me{
    position: relative;
    width: 100%;
    height: auto;
}

.container_home_comp{
    margin-top: 2%;
    display: flex;
}

#text_inter{
    font-size: 17vh;
    font-weight: 600;
    width: 65vh;
    position: relative;
    left: 15%;
    top: 15%;
}

#text_openSans{
    position: relative;
    left: 15.5%;
    top: 22%;
    width: 65%;
}

.line_home{
    width: 20vh;
    height: 0.2px;
    background-color: #fff;
    position: relative;
    right: 0;
    float: right;
    margin-top: 51vh;
}

#button_home {
    position: relative;
    background-color: #fff;
    border: none;
    color: #000;
    width: 15%;
    height: 7%;
    font-weight: bold;
    font-size: 15px;
    top: 27%;
    left: 15%;
    cursor: pointer;
    transition: 0.9s;
}
#button_home:hover{
    box-shadow: 0px 0px 9px #fff;
}



/* TODO: STYLES ABOUT ME COMPONENT */
.container_about_me{
    display: flex;
    flex-direction: column;
    height: 115vh;
}

.images{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#img1{
    width: 29%;
}
#img2{
    width: 39.3%;
}
#img3{
    width: 25.3%;
}

.about_me_text{
    width: 30%;
    position: relative;
    left: 8%;
    top: 9vh;
}

#title_about_me{
    font-size: 55px;
}

#title_about_me2{
    font-size: 20px;
}

.line_about_me{
    width: 15vh;
    height: 0.2px;
    background-color: #fff;
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
}

.about_me_text2{
    width: 50%;
    position: relative;
    left: 47%;
    top: -20vh;
}
.about_me_text2 h1{
    margin-bottom: 3%;
}
.ul{
    list-style-type: disc;
    margin-left: 15%
}

.paragraph_group_about_me{
    display: flex;
    flex-wrap: wrap;
}

#group_pargr{
    width: 27%;
    margin-right: 6%;
    margin-bottom: 5%;
}
#group_pargr p{
    margin-bottom: 15px;
    width: max-content;
}


/* TODO: STYLES PROJECTS COMPONENT */
.container_project{
    display: flex;
    width: 100%;
    height: 400vh;
    background-color: #720505;
}

.div_proj{
    width: 100%;
    margin: 8%;
}

#title_projects{
    font-size: 55px;
    margin-left: 5%;
}

.line_projects{
    width: 85vh;
    height: 0.2px;
    background-color: #fff;
    position: relative;
    top: -1%;
    left: 24%;
}
.line_projects_p{
    width: 15vh;
    height: 0.2px;
    background-color: #fff;
    position: relative;
    margin-top: 3%
}

.img_proj1{
    position: relative;
    right: 5%;
    float: right;
    top: -2%;
}
.img_proj2{
    position: relative;
    width: 40%;
    top: 2%;
    left: 8%
}
#img_proj2{
    top: 4%;
    left: 5%;
}
#img_proj3{
    top: -7.5%;
    left: -5%;
}

.texts_project{
    width: 33%;
    position: relative;
    top: -15%;
    left: 58%
}
#texts_project2{
    top: 0;
    left: 8%;
}
#texts_project3{
    top: 20%;
    left: 55%;
}

#title_projects1{
    cursor: pointer;
}

.text_inter{
    font-size: 55px;
}

#paragraph_projects1{
    margin-top: 10%
}


.icon_projects{
    position: relative;
    left: 50%;
    top: -2%;
    margin-bottom: 5%;
}
#icon_projects2{
    top: 13.5%;
    left: 10%;
}



/* TODO: STYLES RESPONSIVE */
@media (max-width: 768px){
    .line_divis{
        padding: 9% 0 0.5% 0;
    }

    /* TODO: STYLES NAVBAR */
    .container_nav{
        height: 10%;
        width: 100%;
        left: 0;
    }

    .name{
        display: none;
    }

    .navigation{
        font-size: 80%;
        left: 2%;
        justify-content: space-around;
        width: 87%;
    }

    .icon_option{
        width: 5%;
    }



    /* TODO: STYLES HOME COMPONENT */
    .container_home_comp{
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .img_me{
        margin-bottom: 20px;
        text-align: center;
    }
    .img_me img{
        width: 78%;
        max-width: 400px;
    }

    #text_inter{
        font-size: 450%;
        width: 90%;
        left: 8%;
        top: 0;
        width: 74%;
        text-align: center;
        margin-bottom: 8%;
    }

    #text_openSans{
        left: 10%;
        width: 80%;
    }

    .line_home{
        margin-top: 18vh;
        width: 15%;
    }

    #button_home{
        left: 60%;
        margin-top: 6%;
        width: 30%;
        padding: 4%;
        font-size: 12px;
    }


    /* TODO: STYLES ABOUT ME COMPONENT */
    .container_about_me{
        height: 145vh;
    }

    .about_me_text{
        width: 80%;
        left: 10%;
        top: 5vh;
    }
    
    #title_about_me{
        font-size: 45px;
    }
    
    .line_about_me{
        width: 12vh;
    }

    .about_me_text2{
        top: 15vh;
        left: 10%;
    }
    .about_me_text2 h1{
        margin-bottom: 4%;
    }

    .paragraph_group_about_me{
        flex-direction: column;
    }
    
    .ul{
        margin-left: 55%;
    }

    #group_pargr{
        margin-bottom: 13%;
    }
    #group_pargr p{
        margin-bottom: 13%;
    }


    /* TODO: STYLES LANGUAGE COMPONENT */
    .container_language{
        width: 30%;
        height: min-content;

    }

    .button_close_modal{
        width: 20%;
        height: 20%;
    }

    .modal_header{
        font-size: 9px;
    }

    .option_lang{
        font-size: 15px;
    }
}