@import url('https://fonts.googleapis.com/css2?family=Honk:SHLN@0..100&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron&display=swap');

/* TODO: GENERAL STYLES */
.text_inter{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text_openSans{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

.line_divis{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 1.8% 0;
}
.line_div{
    background-color: #fff;
    position: absolute;
    width: 80%;
    height: 0.3vh;
}

/* TODO: STYLES HOMEP */
.container_home{
    display: flex;
    flex-direction: column;
}


/* TODO: STYLES NAVBAR */
.container_nav{
    position: fixed;
    width: 100%;
    height: 13%;
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 7px;
    z-index: 1000;
    font-weight: 100;
}

.navigation{
    width: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 10%;
}
.navigation h1{
    width: fit-content;
    cursor: pointer;
    transition: 0.5s;
}
.navigation h1:hover{
    text-shadow: 0px 0px 9px #fff;
}

.name{
    position: relative;
    left: 3%;
}

.icon_option{
    position: relative;
    right: 4%;
    cursor: pointer;
}


/* TODO: STYLES LANGUAGE COMPONENT */
.container_language{
    width: 15%;
    height: min-content;
    background-color: #000;
    position: fixed;
    right: 0;
    top: 0;
    float: right;
    font-size: 8px;
}

.button_close_modal{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #720505;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 18px;
}

.modal_header{
    padding: 10% 10% 15% 18%;
    font-size: 11px
}

.option_lang{
    padding: 10% 10% 10% 18%;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    display: flex;
}
.option_lang:hover{
    background-color: #2D2D2D;
    cursor: pointer;
    width: 100%;
}



/* TODO: STYLES HOME COMPONENT */
.img_me{
    position: relative;
    width: 100%;
    height: auto;
}

.container_home_comp{
    margin-top: 2%;
    display: flex;
}

#text_inter{
    font-size: 17vh;
    font-weight: 600;
    width: 65vh;
    position: relative;
    left: 15%;
    top: 15%;
}

#text_openSans{
    position: relative;
    left: 15.5%;
    top: 22%;
    width: 65%;
}

.line_home{
    width: 20vh;
    height: 0.2px;
    background-color: #fff;
    position: relative;
    right: 0;
    float: right;
    margin-top: 51vh;
}

#button_home {
    position: relative;
    background-color: #fff;
    border: none;
    color: #000;
    width: 15%;
    height: 7%;
    font-weight: bold;
    font-size: 15px;
    top: 27%;
    left: 15%;
    cursor: pointer;
    transition: 0.9s;
}
#button_home:hover{
    box-shadow: 0px 0px 9px #fff;
}



/* TODO: STYLES ABOUT ME COMPONENT */
.container_about_me{
    display: flex;
    flex-direction: column;
    height: 115vh;
}

.images{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#img1{
    width: 29%;
}
#img2{
    width: 39.3%;
}
#img3{
    width: 25.3%;
}

.about_me_text{
    width: 30%;
    position: relative;
    left: 8%;
    top: 9vh;
}

#title_about_me{
    font-size: 55px;
}

#title_about_me2{
    font-size: 20px;
}

.line_about_me{
    width: 15vh;
    height: 0.2px;
    background-color: #fff;
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
}

.about_me_text2{
    width: 50%;
    position: relative;
    left: 47%;
    top: -20vh;
}
.about_me_text2 h1{
    margin-bottom: 3%;
}
.ul{
    list-style-type: disc;
    margin-left: 15%
}

.paragraph_group_about_me{
    display: flex;
    flex-wrap: wrap;
}

#group_pargr{
    width: 27%;
    margin-right: 6%;
    margin-bottom: 5%;
}
#group_pargr p{
    margin-bottom: 15px;
    width: max-content;
}


/* TODO: STYLES PROJECTS COMPONENT */
.container_project{
    display: flex;
    width: 100%;
    height: 260vh;
}

.div_proj{
    width: 100%;
    margin: 5% 8% 0 8%;
}

#title_projects{
    font-size: 55px;
    margin-left: 5%;
}

.line_projects{
    width: 85vh;
    height: 0.2px;
    background-color: #fff;
    position: relative;
    top: -1%;
    left: 24%;
}
.line_projects_p{
    width: 15vh;
    height: 0.2px;
    background-color: #fff;
    position: relative;
    margin-top: 3%
}

.img_proj1{
    position: relative;
    right: 5%;
    float: right;
    top: -2%;
}
.img_proj2{
    position: relative;
    width: 40%;
    top: 2%;
    left: 8%
}
#img_proj3{
    top: -4%;
    left: 5%;
    width: 40%;
}
#img_proj4{
    top: -14%;
    left: -5%;
    width: 40%;
}
#img_proj5{
    top: 8%;
}

.texts_project{
    width: 33%;
    position: relative;
    top: -15%;
    left: 58%
}
#texts_project1{
    margin-top: 15vh;
    width: 37%;
}
#texts_project2{
    top: -7%;
    left: 8%;
}
#texts_project3{
    top: 19%;
    left: 55%;
}

#title_projects1{
    cursor: pointer;
}
#title_projects{
    font-size: 50px;
}

.text_inter{
    font-size: 55px;
}

#paragraph_projects1{
    margin-top: 10%
}

.icon_projects{
    position: relative;
    left: 50%;
    top: -9%;
    margin-bottom: 5%;
}
#icon_projects2{
    top: 5%;
    left: 10%;
}


/* TODO: STYLES CONTACT COMPONENT */
.container_contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container_img_contact{
    width: fit-content;
    position: relative;
    left: 4%;
}

.line_contact{
    height: 0.2px;
    background-color: #fff;
    position: relative;
    width: 16%;
    margin-top: 2%;
    margin-bottom: 7%;
}

.img_pc4{
    width: 100%;
    height: 100%;
}

.texts_contact{
    width: 35%;
    height: 100vh;
    position: relative;
    left: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -6vh;
}

#paragraph_contact{
    margin-bottom: 10%;
}

.icons_contact{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.icons_contact a, span{
    position: relative;
    left: 1.5%;
    text-decoration: none;
}

.icons_contact span{
    user-select: text;
}

/* TODO: CONTAINER THANKS */
.container_thanks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#span{
    position: relative;
    top: 15vh;
    left: 20vh;
    font-size: 13px;
    color: #ffffff93;
}

.img_thanks{
    width: 45%;
    position: relative;
    right: 0;
}

.line_thanks{
    height: 0.2px;
    background-color: #fff;
    position: relative;
    width: 25%;
    margin-top: 2%;
    margin-bottom: 7%;
}

.texts_thanks{
    width: 30%;
    position: relative;
    left: 9%;
}



/* TODO: STYLES RESPONSIVE */
@media (max-width: 768px){
    .line_divis{
        padding: 9% 0 0.5% 0;
    }

    /* TODO: STYLES NAVBAR */
    .container_nav{
        height: 10%;
        width: 100%;
        left: 0;
    }

    .name{
        display: none;
    }

    .navigation{
        font-size: 80%;
        left: 2%;
        justify-content: space-around;
        width: 87%;
    }

    .icon_option{
        width: 5%;
    }

    /* TODO: STYLES LANGUAGE COMPONENT */
    .container_language{
        width: 35%;
        height: min-content;
    }

    .button_close_modal{
        width: 17%;
        height: 17%;
        font-size: 12px;
    }

    .modal_header{
        font-size: 7px;
    }

    .option_lang{
        font-size: 15px;
    }


    /* TODO: STYLES HOME COMPONENT */
    .container_home_comp{
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .img_me{
        margin-bottom: 20px;
        text-align: center;
    }
    .img_me img{
        width: 78%;
        max-width: 400px;
    }

    #text_inter{
        font-size: 450%;
        left: 8%;
        top: 0;
        width: 74%;
        text-align: center;
        margin-bottom: 8%;
    }

    #text_openSans{
        left: 10%;
        width: 80%;
    }

    .line_home{
        margin-top: 18vh;
        width: 15%;
    }

    #button_home{
        left: 60%;
        margin-top: 6%;
        width: 30%;
        padding: 4%;
        font-size: 12px;
    }


    /* TODO: STYLES ABOUT ME COMPONENT */
    .container_about_me{
        height: 153vh;
    }

    .about_me_text{
        width: 80%;
        left: 10%;
        top: 5vh;
    }
    
    #title_about_me{
        font-size: 45px;
    }
    
    .line_about_me{
        width: 12vh;
    }

    .about_me_text2{
        top: 15vh;
        left: 10%;
    }
    .about_me_text2 h1{
        margin-bottom: 4%;
    }

    .paragraph_group_about_me{
        flex-direction: column;
    }
    
    .ul{
        margin-left: 55%;
    }

    #group_pargr{
        margin-bottom: 13%;
    }
    #group_pargr p{
        margin-bottom: 13%;
    }

    .line_divis{
        top: 5%;
    }


    /* TODO: STYLES PROJECTS COMPONENT */
    .container_project{
        height: 140vh;
        margin: 0;
    }

    .div_proj{
        margin: 0;
        margin-top: 5vh;
    }

    #title_projects1{
        font-size: 23px;
        position: relative;
        top: 49%;
    }

    #paragraph_projects1{
        position: relative;
        top: 45%;
    }

    #acess1{
        position: relative;
        top: 45%;
    }

    .line_projects{
        width: 17vh;
        position: relative;
        left: 66%;
        top: -2%;
    }

    .img_proj1{
        width: 100%;
        top: 5vh;
        left: 0;
        
    }
    #img_proj11{
        display: none;
    }
    .img_proj2{
        width: 47%;
        left: 0;
        margin-top: 5%;
    }
    #img_proj3{
        top: 5vh;
        left: 0;
        width: 50%;
    }
    #img_proj4{
        top: 5vh;
        width: 40%;
        right: 0;
    }
    #img_proj5{
        top: -9vh;
        right: 0;
        float: right;
    }
    #img_proj6{
        top: -2vh;
        position: relative;
        left: 0;
        float: left;
        width: 23vh;
        height: 15vh;
    }

    .texts_project{
        top: -5vh;
        left: 15%;
    }
    #texts_project1{
        width: 70%;
        height: 23%;
    }
    .texts_project h1{
        font-size: 23px;
    }
    .line_projects_p{
        width: 36%;
        position: relative;
        top: 48%;
    }
    .texts_project p{
        font-size: 13px;
    }
    #texts_project2{
        top: 53vh;
        left: 20%;
        width: 60%;
    }
    #texts_project3{
        top: 45vh;
        left: 6vh;
        width: 33vh;
    }

    .icon_projects{
        margin-left: -3vh;
        top: 19%;
    }

    #icon_projects2{
        margin-left: -17vh;
        top: 30vh;
    }


    /* TODO: STYLES CONTACT COMPONENT */
    .container_contact{
        margin: 0;
        display: block;
        height: 120vh;
    }

    .container_img_contact{
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .container_img_contact img{
        width: 65%;
    }

    .texts_contact{
        height: 74vh;
        position: relative;
        display: flex;
        width: 80%;
        left: 17%;
        justify-content: center;
        margin-top: 20%;
    }
    
    #paragraph_contact{
        width: 85%;
        margin-bottom: 25%;
    }

    .line_contact{
        width: 30%;
    }

    .icons_contact{
        position: relative;
        left: -5%;
        margin-bottom: 12%;
    }

    .icons_contact a, span{
        font-size: 14px;
    }


    /* TODO: STYLES THANKS COMPONENT */
    .container_thanks{
        display: block;
        height: 110vh;
    }

    .texts_thanks{
        width: 90%;
        position: relative;
        top: 5vh;
    }

    .texts_thanks p{
        width: 75%;
        position: relative;
        left: 4%;
    }

    #title_thanks{
        font-size: 40px;
    }

    .img_thanks{
        position: relative;
        top: 20%;
        width: 100%;
    }

    #span{
        position: relative;
        top: 10vh;
        left: 15%;
    }
    
}